body {
  font-family: "Arial", verdana, sans-serif;
  background-color: beige;
}

h1 {
  text-align: center;
}

.container {
  width: 400px;
  margin: auto;
}

.speaker {
  text-align: center;
}

.pagenumber {
  text-align: center;
}
